.circle {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 50%;

  &--1 {
    animation: bounce 0.6s infinite 0.1s;
  }
  &--2 {
    animation: bounce 0.6s infinite 0.2s;
  }
  &--3 {
    animation: bounce 0.6s infinite 0.3s;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
