$black: #080808;
$gray: #282828;
$white: #f0f0f0;
$accent: #61d291;
$secondary-bg: #1a1a1a;
$footer: #101010;

$z-video: -1;
$z-navbar-overlay: 0;
$z-navbar: 1;
$z-text-container: 1;
$z-menu: 3;
$z-hb-fixed: 10;
$z-music-button: 4;
$z-sticky-cursor: 1000;
