@import "../../../config/variables";
@import "../../../config/mixins";

.container {
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;

  @include respond("1100px") {
    flex-direction: column;
    gap: 5rem;
  }
}

.left {
  flex: 0 0 50%;

  @include respond("1100px") {
    order: 1;
  }
}

.title {
  font-size: clamp(6rem, 8vw, 12rem);
  margin-bottom: 3rem;

  @include respond(phone) {
    font-size: 4rem;
  }
}

.content {
  font-size: clamp(1.6rem, 1vw, 2.4rem);
  color: rgba($white, 0.5);
  margin-bottom: 3rem;

  @include respond(phone) {
    font-size: 1.6rem;
  }
}

.title-desktop {
  display: block;

  @include respond("1100px") {
    display: none;
  }
}

.title-mob {
  display: none;

  @include respond("1100px") {
    display: block;
  }
}

.subtitle {
  font-size: clamp(1.8rem, 2vw, 2.4rem);
  margin-bottom: 3rem;

  @include respond(phone) {
    font-size: 1.5rem;
  }
}

.right {
  @include respond("1100px") {
    order: 0;
  }
}
.image-container {
  position: relative;
  width: 60rem;
  aspect-ratio: 1 / 1;

  @include respond("1300px") {
    width: 50rem;
  }
  @include respond("1100px") {
    aspect-ratio: auto;
    height: 60rem;
    width: 100%;
  }

  @include respond(tab-port) {
    height: 40rem;
  }

  @include respond("400px") {
    height: 30rem;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  border-radius: 1.4rem;
  height: 100%;
  filter: grayscale(100%) brightness(50%);
}
