@import "../../../config/variables";

.title {
  font-size: 9.6rem;
  margin-bottom: 3rem;
}

.main-content {
  font-size: 1.6rem;
  margin-bottom: 5rem;
  color: rgba($white, 0.5);
}

.item-container {
  margin-top: 10rem;
}
.item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 12rem;
  }
}

.subtitle {
  font-size: 2.4rem;
}

.content {
  font-size: 1.8em;
  color: rgba($white, 0.5);
  margin-bottom: 5rem;
}

.examples {
  font-size: 2rem;
  margin-block: 3rem;
}

.example {
  border: none;
}

.examples-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.left,
.right {
  flex: 1;
}
